<div class="overall">
    <div class="poem-section" (click)="poemSettings.clicked=1-poemSettings.clicked" (mouseout)="hoverWord([])">
        <p *ngFor="let line of poem.number_of_lines">
            <span [ngStyle]="{'text-align': poem.lines[line].align, 'cursor': 'default'}">
                <span *ngFor="let word of poem.lines[line].number_of_words" (mouseover)="hoverWord([line, word])"
                        [ngClass]="poem.lines[line].words[word].primary_meaning.length > 0 ? 'poem-word-underlined' : 'poem-word' ">
                    <poem-word-tooltip class="tooltiptext"
                                        *ngIf="currentHover([line, word])" 
                                        [(poemSettings)]="poemSettings" 
                                        [current_word]="poem.lines[line].words[word]">
                    </poem-word-tooltip>
                        {{ poem.lines[line].words[word].fullSpelling().replace(" ", " ") }}    
                        <!--space is U+205F-->
                </span>
            </span>
        </p>
    </div>
        <poem-toolbar class="poem-toolbar-section" [(poemSettings)]="poemSettings" [(poem)]="poem" [(poemTitle)]="poemTitle"></poem-toolbar>
</div>