p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
    margin-left: 5pt;
    margin-right: 5pt;
}

.overall {
    width: 100%;
    display: flex;
}

div {
    width: 65%;
}

.poem-word {
    position: relative;
    display: inline-block;
  }

.poem-word-underlined {
    position: relative;
    display: inline-block;
    border-style: dotted;
    border-color: black;
    border-width: 0 0 2px 0;
}

.tooltiptext {
    position: relative;
    left: 100%;
    bottom: 20pt;
    z-index: 1;
}

poem-toolbar {
    width: 15%;
    border-right: solid black 1pt;
}

poem-info {
    width: 20%;
    border-left: solid black 1pt;
    position: relative;
}