<p>
    <button mat-raised-button color="primary" (click)="updateSettings('poem_title')">Clear Poem</button>
</p>
<br>
<p>
    Pronunciation (mouseover)
    <br>
    <span style="font-family:'Courier New', Courier, monospace">ASCII <mat-slide-toggle color="accent" [checked]="!ascii" (change)="updateSettings('ascii')"></mat-slide-toggle> Spelled</span>
</p>
<br>
<p>
    Assonance Colors 
    <mat-slide-toggle color="accent" [checked]="poemSettings.rhyme_colors" (change)="updateSettings('rhyme_colors')"></mat-slide-toggle>
</p>
<p>
    Poem Zoom<mat-slider aria-label="zoom" min="0.1" max="1" step="0.1" value="1" tickInterval="3" [(ngModel)]="poemSettings.zoom"></mat-slider>
    <br>
    Poem Rotate <mat-slider aria-label="rotate" min="0" max="360" step="10" value="0" tickInterval="8" [(ngModel)]="poemSettings.rotate"></mat-slider>
</p>
<div>
    <p class="info-box">Poem Title: {{ poem.title }}</p>
    <p class="info-box">Creation Time: {{ poem.creation_time }}</p>
    <span>
        ~~~~~~~~!!!Pronunciation Key!!!~~~~~~~~
        <br>
        In IPA?
        <span style="font-family:'Courier New', Courier, monospace">No <mat-slide-toggle color="accent" (change)="ipa_toggle()"></mat-slide-toggle> Yes</span>
        <br>
        <span *ngFor="let line of pronunciation_key">
            {{ line }}
            <br>
        </span>
    </span>
</div>