<div *ngIf="(current_word.pronunciation.ipa.length > 0) || (current_word.primary_meaning.length > 0)">
    <span>
        <p>
            <span>{{ current_word.primary_meaning }}</span>
            <br>
            <br>
            <span style="font-style: italic" *ngIf="poemSettings.ascii_pronunciation">{{ current_word.pronunciation.ipa.join('_') }}</span>
            <span style="font-style: italic" *ngIf="!poemSettings.ascii_pronunciation">{{ current_word.pronunciation.spelled.join('_') }}</span>
        </p>
    </span>
</div>
