/* You can add global styles to this file, and also import other style files */
:root {
    --axo-blue: rgb(146, 179, 230);
    --axo-light: rgb(226, 210, 176);
    --axo-dark: rgb(121, 104, 74);
    --axo-pink: rgb(231, 171, 197);
    --axo-eye: rgb(81, 253, 255);
}

body {
    background-color: var(--axo-blue);
    color: white;
}

/* unvisited link */
a:link {
    color: black;
    font-size: 16;
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* visited link */
a:visited {
    color: var(--axo-light);
    font-size: 16;
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* mouse over link */
a:hover {
    color: white;
    font-size: 16;
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* selected link */
a:active {
    color: white;
    font-size: 16;
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
