<div>
<h1>Welcome to axo.blue</h1>
<button mat-icon color="primary" style="margin-left:12pt" routerLink="/">
    <mat-icon>home</mat-icon>
</button>
<button mat-button color="primary" routerLink="poems/index">POEMS</button>
    <span style="position: fixed; top: 0; right: 0; color:black; z-index:0;">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        <br>
        ©<a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/SeckinAKara" property="cc:attributionName" rel="cc:attributionURL">
            Seçkin Abdullah Kara
        </a>2024
    </span>
</div>
<br> <br> <br> <br>
<router-outlet></router-outlet>