p {
    background-color: white;
    color: var(--axo-dark);
    margin-left: -2%;
    padding-left: 2%;
}

span {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    flex-wrap: column;
}

div {
    padding-left: 2%;
}