<div>
    <span>
        <mat-form-field appearance="fill" color="secondary">
            <mat-label>Sort by:</mat-label>
            <mat-select [(value)]="sorting_by">
              <mat-option value="date">Date</mat-option>
              <mat-option value="title">Title</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="fill" color="secondary">
            <mat-label>Order</mat-label>
            <mat-select [(value)]="sort_order">
                <mat-option value="asc">Ascending</mat-option>
                <mat-option value="desc">Descending</mat-option>
            </mat-select>
        </mat-form-field>
    </span>
    <ul>
        <li *ngFor="let title of sorted_poem_titles" [routerLink]="['/poems/', title[0]]" (click)="updatePoem(title[0])">{{ title[1] }}</li>
    </ul>
</div>