<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>axo.blue</title>
  <base href="/*">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography">
  <div>
    <h1>404 Error </h1>
    <h1>Page Not Found</h1>
  </div>
</body>
<footer style="position: fixed; bottom: 0; width: 100%; color:black">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
  </a>
  <br>
  ©<a xmlns:cc="http://creativecommons.org/ns#" href="https://www.axo.blue" property="cc:attributionName" rel="cc:attributionURL">
      Axo Seçkin
  </a>2022
</footer>
</html>
